


{%- assign filter_key = block.settings.filter_key -%}
{%- assign filter_value = block.settings.filter_value -%}
{%- assign label = block.settings.label -%}
{%- assign collection_url = block.settings.collection_url | default: '/collections/all' -%}

{%- if filter_key != blank and filter_value != blank -%}
  {%- assign temp = filter_value | replace: ' og ', ',' -%}
  {%- assign values = temp | split: ',' -%}
  <div class="tag-link-list">
    {%- for value in values -%}
      {%- assign trimmed_value = value | strip -%}
      <span class="tag-link-wrapper">
        <a
          href="{{ collection_url }}?{{ filter_key }}={{ trimmed_value | url_encode }}"
          class="tag-link"
          {{ block.shopify_attributes }}
        >
          {%- if label != blank and values.size == 1 -%}
            {{ label }}
          {%- else -%}
            {{ trimmed_value }}
          {%- endif -%}
        </a>
      </span>
    {%- endfor -%}
  </div>
{%- endif -%}


{% schema %}
{
  "name": "Tag link",
  "settings": [
    {
      "type": "text",
      "id": "filter_key",
      "label": "Filter parameter (fx filter.p.m.custom.storrelse)",
      "default": "filter.p.m.custom.storrelse"
    },
    {
      "type": "text",
      "id": "filter_value",
      "label": "Filter værdi (fx L)",
      "default": "L"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label (valgfri)",
      "default": "L"
    },
    {
      "type": "url",
      "id": "collection_url",
      "label": "Collection URL (valgfri)",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}


{% stylesheet %}
  .tag-link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4ch;
  }
  .tag-link-wrapper {
    display: inline-block;
  }
  .tag-link {
  background-color: transparent;
  outline: 1px solid black !important;
  color: black;
  padding: 2.5px 5px;
  margin: 0;
  border-radius: 0;
  height: fit-content;
  background: none !important;
  opacity: 0.5 !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  margin-right: 0.1rem !important;
  font-weight: 600 !important;
  }
  .tag-link:hover {
    opacity: 0.75 !important;
  }
{% endstylesheet %}
